#header {
	background-color: green;
	background-image: url (../images/grass.jpg);
	font-style: "Abril Fatface", cursive;
	font-color: ;
	text-align: center;
	font-weight: bold;
	font-family: "Times New Roman", Times, serif;
}